<footer>
    <div class="container">
        <div class="footer-links">
            <a [routerLink]="['/privacy-policy']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Privacy Policy</a>
            <a [routerLink]="['/contact-us']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact Us</a>
            <a [routerLink]="['/return-cancellation']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Return & Cancellation</a>
            <a [routerLink]="['/terms-and-conditions']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Terms & Conditions</a>
            <a [routerLink]="['/disclaimer']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Disclaimer</a>
        </div>
        <div class="copyright">
            <p>&copy; 2024 inkwellbooks.in All rights reserved.</p>
        </div>
    </div>
</footer>