@import '../../styles.scss';

.banner {
    background-image: url('/banner.jpg');
    background-size: cover;
    background-position: center;
    color: $light-color;
    padding: 4rem 0;
    text-align: center;

    .container {
        max-width: 800px;
        margin: 0 auto;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.1rem;
        }
    }
}

.new-books {
    padding: 4rem 0;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2rem;
            color: $primary-color;
        }

        .book-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
        }

        .book {
            background-color: $white-color;
            border-radius: 0.25rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 0.6rem;
            text-align: center;
            cursor: pointer;
            position: relative;
            .cat-tag {
              position: absolute;
              background-color: #fa030396;
              font-size: 0.6rem;
              color: white;
              padding: 5px 10px;
              width: 50%;
              top: 16px;
              border-radius: 0 10px 10px 0;
              left: 0;
            }
            img {
                width: -webkit-fill-available;
                border-radius: 5px;
                margin-bottom: 0;
                height: 200px;
            }

            h3 {
                font-size: 0.7rem;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 0.5rem;
                color: $secondary-color;
                margin-bottom: 0.5rem;
            }

            .price {
                font-size: 0.6rem;
                color: $primary-color;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .buy-now-button {
                background-color: $primary-color;
                color: $light-color;
                border: none;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: darken($primary-color, 10%);
                }
            }
        }
    }
}
