<section class="banner">
    <div class="container">
        <h1>WELCOME TO OUR BOOK STORE!</h1>
        <p>Explore our vast collection of books and find your next great read.</p>
    </div>
</section>

<section class="new-books">
    <div class="container">
        <h2>New Added</h2>
        <div class="book-list">
            <div *ngFor="let book of newBooks" class="book"  [routerLink]="['/checkout', book.id]" >
                <img [src]="book.cover" alt="{{ book.title }}">
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>
                <div class="price-section">
                    <div class="price">{{ book.price | currency:'INR'}}</div>
                    <!-- @if (book.price>0) {
                        <p class="price">{{ book.price | currency:'INR'}} (100 % Cashback <img class="coin" src="coin.png" alt="Coin"> )</p>
                        <p>OR</p>
                    }
                    <p class="price">
                        {{book.coins}}&nbsp;<img src="coin.png" class="coin" alt="Coin">
                    </p> -->
                </div>
                <div class="cat-tag">
                  {{book.category}}
                </div>
            </div>
        </div>
    </div>
</section>
